*.pyc
*.patch
*node_modules*
*.log
*.out
*/.vscode/.ropeproject/objectdb
*.dll
*obj*
*/bin/*
*build*
Results
*-Results.*
*-Results-interactive.*
rust/target
*.class
*.jar
rust/Cargo.lock
c/argtable
/java/Benchmark/.gradle/
*/.gradle/*
nightly.sh
